
<div class="d-flex mt-3 justify-content-between">
  <h2>Users</h2>
  <div>
    <%= form_with(url: admin_users_path, method: :get, data: { turbo_frame: "users", 
    controller: "search",
    "search-target": "form"}) do |f| %>
      <div class="input-group"> 
        <%= f.search_field :query, class: "form-control mr-2", placeholder: "Search", data: {action: "input->search#search"} %>
        <%#= f.submit "Search", class: "btn btn-primary ml-5", name: nil %>
      </div>
    <% end %>
  </div>
  <div class="text-right">
    <%= link_to "New User", new_admin_user_path, class: "btn btn-primary" %>
  </div>
</div>

<turbo-frame id="users">
  <table class="table table-striped">
    <thead>
      <tr>
        <th>Sno</th>
        <th>First Name</th>
        <th>Last Name</th>
        <th>Email</th>
        <th>Role</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      <% @users.each_with_index do |user, i| %>
      <tr>
        <td><%= i + 1 %></td>
        <td><%= user&.first_name %></td>
        <td><%= user&.last_name %></td>
        <td><%= user.email %></td>
        <td><%= user.role %></td>
        <td>
          <%= link_to "Edit", edit_admin_user_path(user), class: "btn btn-primary", data: {turbo: false} %> 
          <%= link_to "View", admin_user_path(user), class: "btn btn-secondary", data: {turbo: false} %>
          <turbo-frame id="user_<%= user.id %>">
            <%= render 'active_buttons', user: user %>
          </turbo-frame>
        </td>
      </tr>
      <% end %>
    </tbody>
  </table>
<%== pagy_bootstrap_nav(@pagy) %>
</turbo-frame>