<div class="shadow-sm p-3 mb-5 bg-white rounded">
  <h2 class="text-center">User Details</h2>
  <div class="card mt-5 mb-5" style="width: 25rem;">
    <ul class="list-group list-group-flush">
      <li class="list-group-item">Name: <%= @user.first_name %> <%= @user.last_name %></li>
      <li class="list-group-item">Email: <%= @user.email %></li>
      <li class="list-group-item">Role: <%= @user.role %></li>
    </ul>
  </div>
  <div class="d-flex gap-5 mb-5">
    <h6>Documents</h6>
    <% @user.documents.each do |image| %>
    <iframe src="<%= rails_blob_path(image, disposition: :inline) %>" height="200" width="300"></iframe>
    <% end %>
    <h6>Avatar</h6>
    <%= image_tag(@user.avatar, size: "100x100") if @user.avatar.attached?%>
  </div>
  <turbo-frame id="user_<%= @user.id %>">
    <%= render 'active_buttons', user: @user %>
  </turbo-frame>

  <%= link_to "Users", admin_users_path, class: "btn btn-primary" %>
  <%= link_to "Edit", edit_admin_user_path(@user), class: "btn btn-secondary" %>
</div>
