<h2 class="text-center m-5">Sign up</h2>
<div class="col-8 offset-2 col-sm-6 offset-sm-3">
  <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
    <%= render "users/shared/error_messages", resource: resource %>
    <div class="form-group">
      <%= f.label :first_name %>
      <%= f.text_field :first_name, class: "form-control" %>
    </div>

    <div class="form-group">
      <%= f.label :last_name %>
      <%= f.text_field :last_name, class: "form-control" %>
    </div>
    
    <div class="form-group">
      <%= f.label :email %><br />
      <%= f.email_field :email, autocomplete: "email", class: "form-control" %>
    </div>

    <div class="form-group">
      <%= f.label :password %>
      <% if @minimum_password_length %>
      <em>(<%= @minimum_password_length %> characters minimum)</em>
      <% end %><br />
      <%= f.password_field :password, autocomplete: "new-password", class: "form-control" %>
    </div>

    <div class="form-group">
      <%= f.label :password_confirmation %><br />
      <%= f.password_field :password_confirmation, autocomplete: "new-password", class: "form-control" %>
    </div>

    <div class="form-group">
      <%= f.label :role %>
      <%= f.select(:role, User.roles.keys.map {|r| [r.humanize, r] if r.in?(['customer', 'delivery_partner'])},{},class: 'form-select') %>
    </div>
    
    <div class="form-group">
      <%= f.label :phone_number %>
      <%= f.telephone_field :phone_number, class: "form-control" %>
    </div>

    <div class="form-group mt-3">
      <%= f.label :profile_photo %>
      <%= f.file_field :avatar, direct_upload: true, class: "form-control" %>
    </div>

    <div class="form-group mt-3 col-sm-5" id="filefield" data-controller="documents">
      <%= f.label :identicards %>
      <%= f.file_field :documents, direct_upload: true, multiple: true, data:{"documents-target": "fileField  "}, class: "form-control" %>
      <div class="mt-2">
        <%= button_tag "Add More", type: 'button', class: "btn btn-primary", data: {action: "documents#addDocument"} %>
        <%= button_tag "Remove", type: 'button', class: "btn btn-danger", data: {action: "documents#remove"} %>
      </div>
    </div>

    <div class="actions text-center">
      <%= f.submit "Sign up", class: "btn btn-primary" %>
    </div>
  <% end %>
</div>  

<%= render "users/shared/links" %>
